<div class="container fixed-bottom">
  <div class="mb-3  w-100 bg-dark">
    <div class="d-flex">
      <div class="col-md-6">
        <div class="d-flex px-3 py-2">
          <button
            type="button"
            class="btn"
            [ngClass]="{ 'btn-primary': !showPoints, 'btn-danger': showPoints }"
            (click)="showPoints = !showPoints"
          >
            {{ showPoints ? "Nascondi Punteggio" : "Mostra Punteggio" }}
          </button>
        </div>
      </div>
      <div class="col-md-6 text-white">
        <div class="text-end w-100 px-3 py-2" *ngIf="showPoints">
          <div>Punteggio:</div>
          <div>{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container questions-body">
  <div>
   <h1> Questionario esami sas </h1>
  </div>
  <ol class="mx-auto my-2">
    <li *ngFor="let question of questions; let question_id = index">
      <div>
        <div class="question-title">{{ "Domanda_" + question_id }}</div>
        <div class="question">{{ question.question }}</div>
      </div>
      <div>
        <select
          class="custom-select"
          (change)="selectOption(question_id, $event, question)"
        >
          <option value="">Seleziona un valore</option>
          <option [value]="b" *ngFor="let b of question.options">
            {{ b | uppercase }}
          </option>
        </select>
      </div>
    </li>
  </ol>
</div>
