.question-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5em;
}

.questions-body {
  margin-top: 4vh;
  margin-bottom: 10rem;
  color: var(--text);
}

.material-icons.color_green {
  color: #00ff00;
}
.material-icons.color_white {
  color: #ffffff;
}

.my-header{ text-align: center; }
.my-header h1{ font-size: 4em; }
@media (max-width: 720px) {
  .my-header h1{ font-size: 2em; }
}

.subpoint{ list-style-type: upper-latin; }

.round{ border-radius: 6px; }

.bar{ 
  max-width: 720px;
  margin: 0px auto;
}

