.question-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5em;
}

.questions-body {
  max-width: 1000px;
  padding: 30px;
  border-radius: 6px;
  margin: 4vh auto 10rem auto;
  color: var(--text);
}


.my-header{ text-align: center; }
.my-header h1{ 
  font-size: 4em;
  color: var(--primary);
  
  text-shadow: 2px 0 var(--text), -2px 0 var(--text), 0 2px var(--text), 0 -2px var(--text),
      1px 1px var(--text), -1px -1px var(--text), 1px -1px var(--text), -1px 1px var(--text);
}

@media (max-width: 720px) {
  .my-header h1{ font-size: 2em; }
}

.subpoint{ list-style-type: upper-latin; }

.round{ border-radius: 6px; }

.bar{ 
  max-width: 720px;
  margin: 0px auto;
  background-color: var(--primary);
}

.no-num-list{
  list-style: none;
  padding: 0px;
}


