.question-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5em;
}

.questions-body {
  margin-top: 4vh;
  padding-bottom: 10rem;
}

.material-icons.color_green {
  color: #00ff00;
}
.material-icons.color_white {
  color: #ffffff;
}