/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
}

:root {
    --primary: darkslategray;
    color-scheme: light dark; 
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #252628;
    }
}
